.noselect > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
body {
  font-family: "Ubuntu",sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.content {
  padding: 15px;
  padding-top:100px;
  text-align: center;
}
.jumbotron{
    margin-bottom: 0px;
}
#topnavbar{
    margin:0;
}
#topnavbar.affix{
    position:fixed;
    top:0;
    width:100%;
}
.navbar-default
{
    background-color:  #009688; 
}
.navbar-fixed-top
{
    top:48px;
}
.navbar-brand
{
    font-size: 22px;
    padding: 5px 15px;
    line-height: 30px;
    color:white;
}
.navbar-brand>div{
    font-size: 13px;
    text-align: right;
}
.navbar-nav>li{
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 40px;
}
.navbar-nav>li>a{
    
    line-height: 20px;
    transition:0.5s ease-out;
    cursor: pointer;
    color:white;
}
.black>li>a{
    color:black;
}
.navbar-nav>li>a:hover{
    background:#f0c030;
}
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
        color:white;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease-out, background-color .5s ease-out;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #e91e63;
}
.active{
    transition:0px;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color:white;
}
.active::after{
    content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 100%;
	background: #e91e63;
}
.header{
    position: fixed;
    top:0;
    left:0;
}
.header>ul>li{
    padding:0px;
}
.header>ul>li>a{
    line-height: 20px;
}
.header>ul>li>a:hover{
    background:#dddddd;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.navbar-default .navbar-nav > li > a:hover{
color: #fff;  /*Sets the text hover color on navbar*/
}
